@media screen {
  #menuBar {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
}

@media screen and (min-width: 768px) {
  #menuBar {
    flex-direction: row;
  }
}

#menuBar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menuBar a:hover {
  background-color: #111;
}


.active {
  background-color: #FFDDD2;
}

#menuBar .active a {
  color: #333;
}

#menuBar .active a:hover {
  background-color: #FFDDD2;
}

body {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.heading {
  color: pink;
}

h1.heading {
  color: pink;
}
